@font-face {
    font-family: "octa-bold";
    src: url("/fonts/okta-bold.woff2");
}

@font-face {
    font-family: "octa-medium";
    src: url("/fonts/okta-medium.woff2");
}

@font-face {
    font-family: "octa-regular";
    src: url("/fonts/okta-normal.woff2");
}