.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: relative;
    overflow: hidden;
    margin: 2.2rem 0;
}

.navigationList {
    display: flex;
    gap: 0.4rem;
}

.navigationItem {
    border-radius: var(--two-border-radius);
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--vinous-dark);
    transition: background-color 0.8s ease, color 0.2s var(--cubic-bezier);
    z-index: 2;
}
.navigationItem.active, .navigationItem.hovered {
    color: var(--light-text);
}

.activeElementWrapper, .hoverElementWrapper {
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    border-radius: var(--two-border-radius);
    transition: left 0.3s ease, width 0.3s ease;
    pointer-events: none;
}
.activeElementWrapper {
    z-index: 1;
    background-color: var(--vinous-black);
}
.hoverElementWrapper {
    z-index: 0;
    background: var(--red-gradient);
}

@media (min-width: 1200px) {
    .navigationItem {
        font-size: 1.2rem;
    }
}

@media (min-width: 1920px) {
    .navigationItem {
        font-size: 1.4rem;
    }
}