.personCard {
    width: 100%;
    overflow: hidden;
}

.personCard__imgContainer {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.personCard__image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: top;
    border-radius: var(--border-radius);
}
.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s var(--cubic-bezier);

}
.link {
    position: absolute;
    top: 2rem;
    right: 2rem;
    opacity: 0;
}
.personCard:hover {
    .link {
        opacity: 1;
    }
    .blur {
        opacity: 1;
    }
}

.personCard__info {
    padding: 2rem 0;
}

.personCard__name {
    font-size: 2rem;
    font-family: var(--okta-bold);
    color: var(--vinous-black);
}

.personCard__title {
    font-size: 1.8rem;
    font-family: var(--okta-medium);
    color: var(--vinous-black);
    margin-top: 0.7rem;
}

@media (min-width: 500px) {
    .personCard {
        width: 60%;
    }
}
@media (min-width: 780px) {
    .personCard {
        width: calc(50% - 2rem);
    }
}

@media (min-width: 1200px) {
    .personCard {
        width: calc(30% - 2rem);
    }
    .personCard__image {
        height: 62vh;
    }
}