:root {
    /* Цвета */
    --red: #e01e37;
    --red-1: #db0c0c;
    --red-2: #bd0c0c;
    --red-3: #a90c0c;
    --red-4: #8d0b0b;
    --vinous: #641220;
    --vinous-dark: #1a0202;
    --vinous-black: #060000;

    --light-text: white;
    --light-bg: #F0F4F8;

    /* Градиенты */
    --red-gradient: linear-gradient(-120deg, #D62121, #C72C2C, #3a1111);

    /* Тени */
    --top-box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.3);
    --right-box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.2);
    --bottom-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.2);

    /* Радиусы */
    --border-radius: 8px;
    --two-border-radius: 16px;

    /*  Отступы  */
    --section-padding: 10vh 4vw;
    --max-width: 3440px;

    /*  Шрифты  */
    --okta-bold: "octa-bold", Helvetica, Arial, sans-serif;
    --okta-medium: "octa-medium", Helvetica, Arial, sans-serif;
    --okta-regular: "octa-regular", Helvetica, Arial, sans-serif;

    /*  Анимации  */
    --cubic-bezier: cubic-bezier(0.45, 0.05, 0.55, 0.85)
}