.linkContainer {
    position: relative;
    width: 4rem;
    height: 4rem;
}

.contactLink {
    position: absolute;
    inset: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--light-bg);
    color: var(--vinous-black) !important;
    font-family: var(--okta-bold);
    cursor: pointer;
    z-index: 10;
}

.linesContainer {
    position: absolute;
    inset: 0;
    pointer-events: none;
    width: inherit;
    height: inherit;
}
.linesWrapper {
    width: inherit;
    height: inherit;
    z-index: -1;
}

.line {
    height: 4rem;
    width: 4rem;
    pointer-events: none;
    border-radius: 50%;
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;

}