/* Шапка */
.header-container {
    width: 100%;
    height: 100vh;
    background-color: var(--vinous-black);
    position: relative;
    overflow: hidden;
}

.header-img-container {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.header-img {
    height: 98%;
    object-fit: contain;
    z-index: 1;
}


.header-text-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 80vw;
}


.header-scroll-mouse-container {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    height: 32px;
}
.header-scroll-mouse-container, .header-copypast-container {
    display: none;
}
.icon {
    width: 2rem;
    height: 32px;
    object-fit: contain;
    color: var(--light-text);
}
.scroll-mouse-text {
    font-size: 2.2rem;
    font-family: var(--okta-bold);
    margin-bottom: calc(2.2rem - 24px);
}

.h-c-c__bg {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 200px;
    background-color: var(--light-bg);
    width: 80vw;
    height: 30vh;
    transform: translateY(50%) translateX(10vw);
}

.h-c-c__content-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 80vw;
    height: 12vh;
    padding-left: 15vw;
    overflow: hidden;
}

.h-c-c__list {
    width: max-content;
    height: 100%;
    display: flex;
    gap: 4rem;
    transition: transform 2s ease-in-out;
    animation: scrollList 30s linear infinite;
}
.h-c-c-list__item {
    color: var(--vinous-black);
    font-size: 2.2rem;
    display: flex;
    align-items: center;
}
.copyright-icon {
    margin: 0 0.2rem 0.2rem 0;
}

@keyframes scrollList {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(300%); /* Сдвигаем влево на ширину всех элементов */
    }
}

/* Колесо */
.scroll-wheel-container {
    background-color: var(--vinous-black);
    overflow: hidden;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 38vh 0 0 0;
    height: 103vh;
}

/* все 3 части чп */
.s-m-all-container {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.change-bg-cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 10vh 0;
}

.person-cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 10vh 0;
}

.half-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 0;width: 100%;
    height: 100vh;
}
.half-container__left, .half-container__right {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.fs-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.half-container__right {
    position: relative;
    padding: 1rem;
}
.hf-container-title {
    position: absolute;
    font-family: var(--okta-medium);
    color: var(--vinous-black);
    font-size: 6rem;
    z-index: 2;
    top: 2rem;
    left: 2rem;
}
.hf-container-description {
    position: absolute;
    bottom: 12vh;
    left: 2rem;
    right: 8vw;
    z-index: 2;
    font-family: var(--okta-regular);
    color: var(--vinous-dark);
    font-size: 2rem;
    line-height: 2.4rem;
}