@import url(base/reset.css);
@import url(base/base.css);
@import url(utils/variables.css);
@import url(utils/fonts.css);
@import url(utils/animations.css);

/* Общие части */

.bg {
    width: 100%;
    height: 100%;

}
.r-g-bg {
    background: var(--red-gradient);
}
.bg-red-1 {
    background-color: var(--red-1);
}
.bg-red-2 {
    background-color: var(--red-2);
}
.bg-red-3 {
    background-color: var(--red-3);
}
.bg-red-4 {
    background-color: var(--red-4);
}
.bg-red-1, .bg-red-2, .bg-red-3, .bg-red-4 {
    position: relative;
}
.bg-blur {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.container {
    width: 100%;
    min-height: 104vh;
    padding: var(--section-padding);
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 60vw;
    margin: 0 auto;
    gap: 3rem;
}

.container-title {
    font-family: var(--okta-bold);
    color: var(--vinous-black);
    font-size: 2rem;
    line-height: 3rem;
}
.container-description {
    font-family: var(--okta-regular);
    font-size: 1.8rem;
    color: var(--vinous-black);
    line-height: 2.2rem;
    width: 90%;
}

/* Анимации */
.hover__down-text {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.hover__down-text span {
    display: inline-block;
    position: relative;
}

/* Футер */
.footer-container {
    display: flex;
    flex-direction: column;
}
.footer-bg-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.footer-bg-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.footer-content-container {
    background: var(--footer-gradient);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
}

.f-c-c__logo-container {
    width: 60%;
    height: 50vh;
}

.f-c-c__contacts-container {
    display: flex;
    gap: 2rem;
}

.f-c-c__bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1rem;
    border-top: 1px dotted rgba(255, 255, 255, 0.7);
    width: 98%;
}

.f-c-c-b-l__list {
    display: flex;
    gap: 2rem;
}
.f-c-c-b-l-list__item {
    font-size: 1.2rem;
}

.website-by-text {
    font-family: var(--okta-bold);
    font-size: 1.2rem;
}
.leonardo-wer-text {
    font-family: var(--okta-medium);
    font-size: 1.2rem;
    text-decoration: underline;
}