.navigation {
    width: fit-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: relative;
    overflow: hidden;
    margin: 2.2rem auto;
}

.navigationList {
    display: flex;
    gap: 0.5rem;
}

.navigationItem {
    border-radius: var(--two-border-radius);
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--vinous-dark);
    transition: background-color 0.8s ease, color 0.2s var(--cubic-bezier);
    z-index: 2;
    text-align: center;
    font-size: clamp(0.8rem, 0.678rem + 0.61vw, 1.4rem);
}
.navigationItem.active, .navigationItem.hovered {
    color: var(--light-text);
}

.activeElementWrapper, .hoverElementWrapper {
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    border-radius: var(--two-border-radius);
    transition: left 0.3s ease, width 0.3s ease;
    pointer-events: none;
}
.activeElementWrapper {
    z-index: 1;
    background-color: var(--vinous-black);
}
.hoverElementWrapper {
    z-index: 0;
    background: var(--red-gradient);
}

.hideContent {
    display: none;
}